body {
  background-color: lightcyan;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

button {
  height: 160px;
  width: 160px;
  background-color: #eedc82;
}

.input {
  gap: 20px; 
  padding: 40px;
  align-content: center;
  justify-content: center;
  display: flex;
  margin: 40px;
  font-size: larger;
}

.hide {
  display: none;
}

.books {
  border: 8px solid black;
  overflow-wrap: wrap;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  justify-content: space-between;

}
.boxes {
  border: 2px dotted black;
  background-color: #eedc82;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  flex-direction: column;
}

.info {
  color: black;
  font-size: larger;
  align-content: center;
  display: flex;
  margin: 6px;
  padding: 6px;

}

.btn-close {
  display: flex;
  color: black;
  font-size: small;
  border: black solid 1px;
  width: 80px;
  height: 20px;
  background-color: red;
}

.read-button {
    display: flex;
  color: black;
  font-size: small;
  border: black solid 1px;
  width: 80px;
  height: 20px;
  background-color: green;
}

.list {
  margin: 8px;
  padding: 15px;
  color: crimson
}

.hide {
  display: none;
}

/* .header {
  align-content: center;
  justify-content: center;
  padding: 20px;
} */

/* .input {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-content: center;
  justify-content: center;
} */

